.Shops {
  /* padding: 0.5rem 3.5rem; */
  background: linear-gradient(106.37deg, #232220 20%, #323232 50%, #363736 90%);
  height: 100vh;
  display: grid;
  grid-template-rows: 10% auto;
  border: 10px solid #232220;
  gap: 10px;

  /* justify-content: center; */
  /* font-family: 'Inter', sans-serif; */
}

.ShopGlass {
  display: grid;
  gap: 32px;
  grid-template-columns: auto 20rem;
  padding-right: 15px;
}
