.DashBoard {
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 15% auto;
  gap: 5px;
  background: #282828;
  border: 1px solid #212221;
  border-radius: 30px;
  font-family: 'Kavoon';
  font-weight: bold;
}
.PlaceOrder {
  width: 500px;
  padding-top: 15%;
  font-size: 260%;
  line-height: 30%;
  color: #ffffff;
}
.menuBar {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 90%;
}

.gap {
  display: grid;
  gap: 5px;
}
.SearchBar {
  box-sizing: border-box;
  position: relative;
  width: 30%;
  height: 50%;
  color: white;
  left: 60%;
  top: 20%;
  border: 6px solid #21a600;
  border-radius: 25px;
  display: flex;
  padding-left: 7px;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
.DashBoardGlass {
  background: rgb(36, 34, 34);
  border-radius: 2rem;
  padding-left: 3%;
  gap: 16px;
  overflow-y: scroll;
}

.DashBoardGlassBackGround {
  display: grid;
  height: 97%;
  width: 97%;
  background: rgb(3, 171, 6);
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 5px;
  border-radius: 1.5rem;
  gap: 10px;
  overflow: hidden;
}
